<div class="list-wrapper">
    <div class="list-header">
        <div>
            <label for="sorting-fields">Sort By:</label>
            <select
                id='sorting-fields'
                (change)='onSortOptionChange($event)'
            >
                <option
                    value="" 
                    [selected]="(sortingCriteria$ | async) === ''"
                    disabled
                    hidden
                >
                    Choose here
                </option>
                <option 
                    value="title" 
                    [selected]="(sortingCriteria$ | async) === 'title'"
                >
                    Name
                </option>
                <option
                    value="price"
                    [selected]="(sortingCriteria$ | async) === 'price'"
                >
                    Price
                </option>
                <option
                    value="publishDate"
                    [selected]="(sortingCriteria$ | async) === 'publishDate'"
                >
                    Date
                </option>
            </select> 
        </div>
    </div>
    <div *ngFor="let game of games$ | async" class="list-item">
        <div class="img">
            <img src="{{game.imgPath}}" alt="Image not provided">
        </div>
        <div class="info">
            <div class="title">{{game.title}}</div>
            <div class="description">{{game.description}}</div>
            <div class="footer">
                {{game.price | currency}}
            </div>
        </div>
    </div>
</div>
