<form #loginForm="ngForm" (ngSubmit)="logInUser()">
    <h2>Log In</h2>
    <p>
        <label for="Email" class="floatLabel">Email</label>
        <input id="Email"
            name="Email"
            type="text"
            required
            [(ngModel)]="user.email"
        >
    </p>
    <p>
        <label for="password" class="floatLabel">Password</label>
        <input id="password"
            name="password"
            type="password"
            required
            #password="ngModel"
            [minlength]="passMinLength"
            [(ngModel)]="user.password"
        >
        <small
            [hidden]="password.valid || password.pristine"
        >
            * Password must contain at least {{passMinLength}} characters
        </small>
    </p>
    <p>
        <input
            type="submit"
            value="Log Me in"
            id="submit"
            [disabled]="!loginForm.form.valid"
            [class.disabled]="!loginForm.form.valid"
        >
    </p>
</form>
